In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
train = pd.read_csv('clean_train.csv')
test = pd.read_csv('clean_test.csv')
val = pd.read_csv('clean_val.csv')

In [3]:
def rm_text(df):
    df['TEXT'] = ''
    df['LABELS'] = ''
    df['length'] = ''
    return df

In [4]:
train = rm_text(train)
test = rm_text(test)
val = rm_text(val)

In [6]:
train.to_csv('clean_train.csv')
test.to_csv('clean_test.csv')
val.to_csv('clean_val.csv')

In [9]:
val

      Unnamed: 0  SUBJECT_ID  HADM_ID TEXT LABELS length
0              0       86006   111912
1              1       85950   189769
2              2       88025   180431
3              3       83776   152868
4              4       85055   169373
...          ...         ...      ...  ...    ...    ...
1601        1601       84875   173821
1602        1602       84223   157264
1603        1603       86359   164038
1604        1604       87949   167925
1605        1605       86752   143537

[1606 rows x 6 columns]